################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCShop/FileContentIndex/merges/173a0ccb-93b0-4b0d-8439-4c6acd25e22d.vsidx
